<ul class="nav nav-pills nav-justified">
  <li class="active nav-item"><a (click)="navegarA('Principal')" class="nav-link">Sala de Juegos</a>
  </li>
  <li class="nav-item"><a (click)="llamaService()" class="nav-link">Servicio</a>
  </li>
  <li class="nav-item"><a (click)="llamaServicePromesa()" class="nav-link">Serv Promesa</a>
  </li>
  <li class="nav-item"><a (click)="llamaServicePromesa()" class="nav-link">Serv observable</a>
  </li>
</ul>

<app-listado-de-resultados [listado]="listadoParaCompartir"> </app-listado-de-resultados>
