<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">&#x2630;</button> <a
    class="navbar-brand" (click)="navegarA('Principal')">Inicio</a>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="active nav-item"><a (click)="navegarA('Juegos')" class="nav-link">Menu de Juegos</a>
      </li>
      <li class="nav-item"><a data-toggle="tooltip" title="Hooray!" (click)="navegarA('Juegos/Adivina')" class="nav-link">Adivina</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/AdivinaMasListado')" class="nav-link">Adivina+listado</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/Agilidad')" class="nav-link">Agilidad</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/AgilidadaMasListado')" class="nav-link">Agilidad+listado</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/PPT')" class="nav-link">Piedra Papel o Tijera</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/PPTMasListado')" class="nav-link">Piedra Papel o Tijera+listado</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/Anagrama')" class="nav-link">Anagrama</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/AnagramaMasListado')" class="nav-link">Anagrama+listado</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/Memotest')" class="nav-link">Memotest</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/MemotestMasListado')" class="nav-link">Memotest+listado</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/Tateti')" class="nav-link">Tateti</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Juegos/TatetiMasListado')" class="nav-link">Tateti+listado</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item"><a href="#" class="nav-link"><span class="glyphicon glyphicon-user"></span> Mis Datos</a>
      </li>
      <li class="nav-item"><a (click)="navegarA('Login')" class="nav-link"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
      </li>
    </ul>
  </div>
</nav>
