<ul class="nav nav-pills nav-justified">
  <li class="active nav-item"><a (click)="navegarA('Principal')" class="nav-link">Ir a inicio</a>
  </li>
  <li class="nav-item"><a (click)="traerTodos()" class="nav-link">Todos los jugadores</a>
  </li>
  <li class="nav-item"><a (click)="traerGanadores()" class="nav-link">Los ganadores</a>
  </li>
  <li class="nav-item"><a (click)="traerPerdedores()" class="nav-link">Los perdedores</a>
  </li>
</ul>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>usuario</th>
      <th>cuit</th>
      <th>sexo</th>
      <th>gano</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado">
      <td>{{jugador.usuario}} </td>
      <td>{{jugador.cuit}} </td>
      <td>{{jugador.sexo | sexo | uppercase}} </td>
      <td>{{jugador.gano}} </td>
    </tr>
  </tbody>
</table>