<mat-card class="card">
  <img mat-card-image [src]="juego.imagen" alt="{{juego.nombre}}">
  <mat-card-content>
    <mat-card-title>{{juego.nombre}}</mat-card-title>
    <div class="card-juego-footer"> 
      <p>{{juego.descripcion}}</p>
      <p>UTN FRA</p>
      <div class="redes-sociales">
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="iniciarJuego()">JUGAR</button>
  </mat-card-actions>
</mat-card>
