.card {
    height: 100%;
    background-image: url("/assets/imagenes/cabecera.png");
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    margin-bottom: 20px;
    border: none;
    border-radius: 0px;
  }
  
  .cabecera-text {
    text-align: center;
    margin: auto;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
  }
  
  .cabecera-text a {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .cabecera-text a:hover {
    background-color: #555;
    color: white;
  }
  
  nav a {
    cursor: pointer;
  }
  