<app-cabecera> </app-cabecera>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action active">
      <div class="media-body">
        <div class="hero-text">
          <h4>Menú Principal</h4>
        </div>
      </div>
    </li>
    <li *ngFor="let opcion of opciones" class="list-group-item list-group-item-action">
      <a routerLink="{{opcion.link}}">
        <div class="media">
          <div class="media-left">
            <img src="{{opcion.imagen}}" class="media-object imagenDeMenu">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{opcion.nombre}}</h4>
            <p>{{opcion.descripcion}}</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
